on early-init
    chown system radio /sys/class/sec/tsp/cmd
    chmod 0664 /sys/class/sec/tsp/cmd

<<<<<<<< HEAD:touch/vendor.lineage.touch@1.0-service.sm7125.rc
service vendor.touch-hal-1-0 /vendor/bin/hw/vendor.lineage.touch@1.0-service.sm7125
========
service vendor.touch-hal /vendor/bin/hw/vendor.lineage.touch-service.samsung_sm7325
>>>>>>>> 5501e51 (sm7325-common: touch: Migrate to AIDL):touch/vendor.lineage.touch-service.samsung_sm7325.rc
    class hal
    user system
    group system
